
.anim-spin {
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}


.anim-blink {
    -webkit-animation: blink 1s infinite linear;
}

textarea {
    resize: none;
}

@-webkit-keyframes blink {
    0%  {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
